In [1]:
import re

data = [
    '40,49,000', '37,49,000', '24,49,000', '20,49,000', '26,59,000',
    '1,45,000', '1,85,000', '1,65,000', '65,000', '62,000', '3,35,000',
    '6,50,000', '7,50,000', '22,999', '23,999', '25,999', '19,999',
    '14,999', '3.43 Lakh', '5.19 Lakh', '6.65 Lakh', '9.11 Lakh',
    '23.02 Lakh', '6.95 Lakh', '1.78 Lakh', '1.92 Lakh', '2.20 Lakh',
    '3.10 Lakh', '2.05 Lakh', '3.30 Lakh', '3.60 Lakh', '5.50 Lakh',
    '75,000', '1,50,000', '1,60,000', 'Rs. 1,05,000', 'Rs. 1,50,000',
    'Rs. 2,00,000', 'Rs. 2,50,000', '₹ 80,000 - ₹ 90,000',
    '₹ 1,00,000 - ₹ 1,30,000', '₹ 50,000 - ₹ 60,000',
    '₹ 70,000 - ₹ 80,000', '₹ 1,00,000 - ₹ 1,20,000', 'Rs. 2,08,000',
    'Rs. 1,28,990', 'Rs. 69,990', 'Rs. 54,990', 'Rs. 54,095',
    '15.40 lakh', '13.6 lakh', '13.3 lakh', '14.8 lakh', '17.5 lakh',
    '24.9 lakh', '18.9 lakhs', '25.4 lakhs', '22.8 lakhs',
    '21.1 lakhs', '20.7 lakhs', 'Rs. 20.99 lakh', 'Rs. 32.99 lakh',
    'Rs. 35.99 lakh', 'Rs. 1.25 lakh', 'Rs. 1.55 lakh',
    'Rs. 3.15 lakh', 'Rs. 1.15 lakh', 'Rs. 2.15 lakh', 'Rs. 1.47 lakh',
    'Rs. 1.97 lakh', 'Rs. 1.65 lakh', 'Rs. 2.20 lakh', 'Rs. 2.79 lakh',
    'Rs. 2.99 lakh', 'INR 3,49,000 - 3,79,000',
    '₹1.69 lakh - ₹1.89 lakh', '₹1.39 lakh - ₹1.59 lakh',
    '₹1.15 lakh - ₹1.25 lakh', '₹67,500'
]

# Function to clean and convert values to numerical format
def clean_numerical_value(value):
    # Remove commas and extra spaces
    value = re.sub(r'[^\d.]', '', value)

    # Convert lakh notation to million
    if 'lakh' in value.lower():
        value = re.sub(r'[^\d.]', '', value)
        value = float(value) * 10 ** 5

    # Convert lakh/crore notation to million/billion
    if 'lakh' in value.lower() or 'crore' in value.lower():
        value = re.sub(r'[^\d.]', '', value)
        value = float(value) * 10 ** 5

    # Convert currency notation to numerical value
    if 'rs.' in value.lower() or '₹' in value:
        value = re.sub(r'[^\d.]', '', value)

    return float(value)

# Clean and convert each value in the dataset
cleaned_data = [clean_numerical_value(value) for value in data]

# Print the cleaned data
print(cleaned_data)

ValueError: could not convert string to float: '.20.99'